<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
    <property name="hibernate.connection.url">jdbc:sqlite://Users/tiziano/Workspace/pjpapi/PyPaPi/demo.db</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <mapping resource="org/pypapi/demo/Book.hbm.xml"/>
    <mapping resource="org/pypapi/demo/Author.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
